<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <i style="color:red;" class="fa fa-graduation-cap fa-2x"></i><b style="color:red;">Open</b>Teach
            </a>
        </div>

        <ul class="nav navbar-nav" style="padding-top: 3px;">
            <li><a href="/">Home</a></li>
            <li><a href="/about">Map</a></li>
        </ul>

        <div class="input-group" style="width: 300px; margin-top: 20px;">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <a href="/about"><button class="btn btn-default" type="button">Go!</button></about>
              </span>
            </div><!-- /input-group -->
        <ul class="nav navbar-nav" style="float:right; margin-top: -40px">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
        <ul>

</nav>
