body.home {
  background-image: url('/homebg.jpg');
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
}

.home-banner-placeholder {
  background: rgba(111, 118, 139, 0.62);
  color: #fff;
}

.home-footer .text-muted {
  color: rgba(111, 118, 139, 1);
}

.navbar {
  height:70px;
}

.navbar-nav {
  font-size: 17px;
  margin-top: 13px;
}
