.home-banner-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  float: left;
  width: 100%;
  height: 100vh;
  background-image: url('/homebg.jpg');
  background-size: cover;
  background-position: center center;
}

.home-banner-placeholder {
  background: rgba(111, 118, 139, 0.62);
  color: #fff;
}

.home-footer .text-muted {
  color: rgba(111, 118, 139, 1);
}

.navbar {
  height:70px;
}

.navbar-nav {
  font-size: 17px;
  margin-top: 13px;
}
