<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <div class="home-banner-img"></div>

    <header>
        <% include ../partials/header %>
    </header>

    <div class="home-banner-placeholder"></div>

    <main>
        <div class="jumbotron home-banner-placeholder">
            <h1>Find teaching talent in your area</h1>
            <p>Find talented people near you to teach lessons, give talks, and share their knowledge</p>
        </div>

        <div class="jumbotron text-center">
          <div class="row text-center;">
            <div class="col-sm-4">
              <i style="font-size:150px; color:green;" class="fa fa-globe"></i>
              <h3>Join</h3>
            </div>
            <div class="col-sm-4">
              <i style="font-size:150px; color: #AA00AA;" class="fa fa-map-marker"></i>
              <h3>Locate</h3>
            </div>
          <div class="col-sm-4">
              <i style="font-size:150px; color:red;" class="fa fa-graduation-cap"></i>
              <h3>Learn</h3>
            </div>
          </div>
            <h2>We are an open directory of experts and students</h2>
            <p>Whether you are a professional or a student you can join our network to share your knowledge with others.</p>
        </div>
    </main>

    <footer class="home-footer">
        <% include ../partials/footer %>
    </footer>

</body>
</html>
