<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <div class="home-banner-img"></div>

    <header>
        <% include ../partials/header %>
    </header>

    <div class="home-banner-placeholder"></div>

    <main>
        <div class="jumbotron home-banner-placeholder">
            <h1>Uber for knowledge</h1>
            <p>Find talented people near you to teach lessons, give talks, and share their knowledge</p>
        </div>
    </main>

    <footer class="home-footer">
        <% include ../partials/footer %>
    </footer>

</body>
</html>
