<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Pandelis Zembashis</h1>
            <ul class="list-group">
              <li class="list-group-item">Python</li>
              <li class="list-group-item">Java</li>
              <li class="list-group-item">Node.Js</li>
              <li class="list-group-item">Unity</li>
              <li class="list-group-item">git</li>
            </ul>
            <p></p>


        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
