<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
          <form class="form-horizontal">
          <fieldset>

          <!-- Form Name -->
          <legend>Register For an Account</legend>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Username</label>
            <div class="col-md-4">
            <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Email</label>
            <div class="col-md-4">
            <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">FirstName</label>
            <div class="col-md-4">
            <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Surname</label>
            <div class="col-md-4">
            <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Organisation</label>
            <div class="col-md-4">
            <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
            </div>
          </div>


          <!-- Password input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="passwordinput">Password</label>
            <div class="col-md-4">
              <input id="passwordinput" name="passwordinput" type="password" placeholder="placeholder" class="form-control input-md">
            </div>
          </div>

          </fieldset>
          </form>

 <div style="width:500px;" id="map"></div>
    <script>

// The following example creates a marker in Stockholm, Sweden using a DROP
// animation. Clicking on the marker will toggle the animation between a BOUNCE
// animation and no animation.

var marker;

function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 13,
    center: {lat: 59.325, lng: 18.070}
  });

  marker = new google.maps.Marker({
    map: map,
    draggable: true,
    animation: google.maps.Animation.DROP,
    position: {lat: 59.327, lng: 18.067}
  });
  marker.addListener('click', toggleBounce);
}

function toggleBounce() {
  if (marker.getAnimation() !== null) {
    marker.setAnimation(null);
  } else {
    marker.setAnimation(google.maps.Animation.BOUNCE);
  }
}

    </script>

            <form action="" method="post">
              <input type="text" name="username" placeholder="Username">
              <input type="text" name="firstname" placeholder="First Name"><br>
              <input type="text" name="lastname" placeholder="Last Name">
              <input type="text" name="lat" placeholder="Latitude"><br>
              <input type="text" name="lng" placeholder="Longitude">
              <input type="text" name="email" placeholder="Email"><br>
              <input type="text" name="twitter" placeholder="Twitter">
              <input type="text" name="linkedin" placeholder="Linkedin"><br>
              <input type="text" name="facebook" placeholder="Facebook">
              <input type="text" name="instagram" placeholder="Instagram"><br>
              <input type="text" name="other" placeholder="Other">
              <input type="password" name="password" placeholder="Password"><br>
              <input type="submit" name="name" value="Register">
            </form>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
