<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <form action="" method="post">
              <input type="text" name="username" placeholder="Username">
              <input type="text" name="firstname" placeholder="First Name"><br>
              <input type="text" name="lastname" placeholder="Last Name">
              <input type="text" name="lat" placeholder="Latitude"><br>
              <input type="text" name="lng" placeholder="Longitude">
              <input type="text" name="email" placeholder="Email"><br>
              <input type="text" name="twitter" placeholder="Twitter">
              <input type="text" name="linkedin" placeholder="Linkedin"><br>
              <input type="text" name="facebook" placeholder="Facebook">
              <input type="text" name="instagram" placeholder="Instagram"><br>
              <input type="text" name="other" placeholder="Other">
              <input type="password" name="password" placeholder="Password"><br>
              <input type="submit" name="name" value="Register">
            </form>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
